@model SoccerStats.ViewModels.Admin.Teams.AdminEditTeamViewModel
@{
    ViewData["Title"] = "EditTeam";
}

<h1>EditTeam</h1>
<p>@Model.Name</p>
<form asp-controller="Admin" asp-action="EditTeam" method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name" />    
    <button type="submit">Submit</button>
</form>

