@model SoccerStats.ViewModels.AdminTeamsViewModel

@{
    ViewData["Title"] = "Teams";
}

<h1>Teams</h1>

<h4>AdminTeamsViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Admin" asp-action="CreateTeam" method="post">
            Team Name:  <input asp-for="thisTeam.Name" /> <br />
            : <input asp-for="Password" /><br />
            <button type="submit">Register</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

